body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
}
header {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: #FFFFFF;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 8px;
}
.heading {
    color: #dc1010;
}
/* h4 {
    color: #dc1010;
} */

